<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Yota test suite">
    <test name = "Activation customer test">
        <classes>
            <class name = "YotaTests">
                <methods>
                    <include name="subscriberActivationTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name = "Change status tests" parallel = "methods" thread-count = "2">
        <classes>
            <class name = "YotaTests">
                <methods>
                    <include name="shouldChangeCustomerStatusWithRoleAdminTest"/>
                    <include name="shouldChangeCustomerStatusWithRoleUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>